
#myfamily {
  text-align: center;
  color:#D16DF2;
  text-shadow: 0 1px 0 #B34DD6, 0 2px 0 #9D39BF, 0 3px 0 #781D96, 0 4px 0 #53036E,0 5px 0 #3E0352, 0 6px 0 #38034A,0 7px 0 #340245, 0 8px 7px rgba(0, 0, 0, 0.4),0 9px 10px rgba(0, 0, 0, 0.2);
}
#myfamP {text-align:center;}

#jumbo { padding: 10px;}

#schedule {
  float: left;
  padding: 0px;
  width:auto;
  border:1px solid #000000;
  border-spacing:0px;
  empty-cells: show;
  border-collapse: collapse;
  height:100px;
  text-align:center;
}
#schedule th {
  padding: 0px;
  border: 1px;
  border-color: #000;
  font-size:22px;
}

#famimage {
  display:block;
  margin-right:auto;
  margin-left:auto;
}

#favquote {
  font-weight: bold;
}

#favquotesig {
  font-weight:bold;
  font-style:italic;
}

.scheduletd {
  border: 1px solid #000000;
  padding: 2px;
}